/* Minimal global styles for Material UI Toolpad */
/** {*/
/*  box-sizing: border-box;*/
/*}*/

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: #f2f2f2;
}

/* Let Material UI handle fonts and colors */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
